# ignore Eclipse directories and files
/.externalToolBuilders/
/.settings/
/.buildpath
/.project*

# do not ignore the following files (globally)
!.gitattributes

# ignore the following directories and files
/bin/
/*.user
