# default: self-detect the content type (text vs. binary)
*   text=auto


# an enforced "text" attribute overwrites mixed line-endings in the repo
*.conf       text
*.cpp        text
*.css        text
*.dtd        text
*.h          text
*.htm        text
*.html       text
*.ini        text
*.js         text
*.json       text
*.md         text
*.mq4        text
*.mq5        text
*.mqh        text
*.mql        text
*.php        text
*.phtml      text
*.properties text
*.sh         text
*.sql        text
*.txt        text
*.xml        text
*.yml        text


# checkout with Windows line-endings (not yet supported by EGit)
*.dsp        text eol=crlf
*.dsw        text eol=crlf
*.tpl        text eol=crlf
*.vcproj*    text eol=crlf
*.vcxproj*   text eol=crlf


# set content encodings
*            encoding=CP1252
*.md         encoding=UTF-8
