# default: self-detect the content type (text vs. binary)
*   text=auto


# enforce text to overwrite mixed line-endings in the repo
*.conf       text
*.cpp        text
*.css        text
*.dtd        text
*.h          text
*.htm        text
*.html       text
*.ini        text
*.js         text
*.json       text
*.md         text
*.mq4        text
*.mq5        text
*.mqh        text
*.mql        text
*.php        text
*.phtml      text
*.properties text
*.sh         text
*.sql        text
*.txt        text
*.xml        text
*.yml        text


# use Windows line-endings in the working tree (not yet supported by Eclipse)
*.dsp        text eol=crlf
*.dsw        text eol=crlf
*.tpl        text eol=crlf
*.vcproj*    text eol=crlf
*.vcxproj*   text eol=crlf
