# ignore Eclipse directories and files
/.externalToolBuilders/
/.settings/
/.buildpath
/.project*


# ignore the following directories and files
/bin/
/*.user


# never ignore the following files
!.gitattributes
!/bin/Release/MT4Expander.dll
