#
# The projects rosasurfer/mt4-expander and rosasurfer/mt4-mql share some common header files. Both projects are connected 
# via a symlink named "shared" which must be created in this directory. The symlink is not versioned to allow customization 
# of the link target according to the local project location and is used by the versioned symlink at "header/shared". 
#
# The symlink "shared" in this directory must point to the local installation of "{rosasurfer/mt4-mql}/mql4/include/shared".  
# 
# A comfortable way to manage symbolic links on Windows is the "Link Shell Extension" by Hermann Schinagl.
# (see http://schinagl.priv.at/nt/hardlinkshellext/linkshellextension.html)
#  
# To enable Git support of symbolic links on Windows you must add "core.symlinks = true" to your Git configuration.  
#
/shared
